img {
  $padding: .4;
  padding: rhythm($padding);
  @include border-radius(2px);
  margin-bottom: rhythm(1);
  &.left {
    margin-right: 2em;
    float: left;
  }
  &.right {
    margin-left: 2em;
    float: right;
  }
  &.small {
    height: rhythm(11 - 2*$padding);
  }
  &.medium {
    height: rhythm(16 - 2*$padding);
  }
}
