<section id='page'>
  <section class='no_side_body' id='body_content'>
    <h1 id='body_content_title'>Over ons</h1>
    <section id='body'>
      <div class='inner'>
        <%= image_tag 'product-3.jpg', class: 'right medium' %>
        <p>
        De zeepkamer is een kleine ambachtelijke zeepziederij, opgericht door Greet Vervoort.
        </p>
        <p>
        Ze is begonnen vanuit interesse voor het ambacht; ze werkt met mooie plantaardige producten uit de natuur er worden geen conserveringsmiddelen gebruikt.
        Het is erg spannend en leuk om eigen recepten te vervaardigen. Telkens is het weer een verrassing als de zeep uit de mal wordt gehaald, hoe is deze gelukt ruikt de zeep lekker?
        </p>
        <p>
        De ingrediënten die ze gebruikt zijn allemaal van plantaardige oorsprong. Ook de kleuring van de zeep gebeurt met kruiden, en delen van planten.
        </p>
      </div>
    </section>
  </section>
</section>

