body {
  @include sans-serif-font-family;
}

p, ul, ol {
  @include margin-trailer($paragraph-margin-bottom);
}

p + p {
  text-indent: $paragraph-text-indent;
}

#{headings()} {
  @include serif-font-family;
}

h1 {
  @include adjust-font-size-to($h1-font-size);
  @include rhythm($header-margin-top, 0, 0, $header-margin-bottom, $h1-font-size);
}
h2 {
  @include adjust-font-size-to($h2-font-size);
  @include rhythm($header-margin-top, 0, 0, $header-margin-bottom, $h2-font-size);
}
h3 {
  @include adjust-font-size-to($h3-font-size);
  @include rhythm($header-margin-top, 0, 0, $header-margin-bottom, $h3-font-size);
}
h4 {
  @include adjust-font-size-to($h4-font-size);
  @include rhythm($header-margin-top, 0, 0, $header-margin-bottom, $h4-font-size);
}
h5 {
  @include adjust-font-size-to($h5-font-size);
  @include rhythm($header-margin-top, 0, 0, $header-margin-bottom, $h5-font-size);
}
h6 {
  @include adjust-font-size-to($h6-font-size);
  @include rhythm($header-margin-top, 0, 0, $header-margin-bottom, $h6-font-size);
}

code, pre {
  @include monospace-font-family;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

ul, ol {
  margin-left: 1.1rem;
  & li & {
    margin-bottom: 0;
  }
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

img, object {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

table {
  clear: both;
  caption, th, td {
    vertical-align: top;
    padding: rhythm(.5);
    &.right {
      text-align: right;
    }
  }
  thead {
    th {
      font-weight: bold;
    }
  }

  // Borders
  th {
    @include trailing-border($width: 2px, $lines: .5);
  }
  td {
    @include trailing-border($lines: .5);
  }

  tr:last-child {
    td {
      border-bottom: none;
    }
  }
}
