// Compass

// Vertical Rhythm:
$rhythm-unit: 'rem';

// Google fonts:
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono|PT+Serif+Caption:400,400italic|Open+Sans:700,300,400);
$serif-font-family: 'PT Serif Caption', serif;
$sans-serif-font-family: 'Open Sans', sans-serif;
$monospace-font-family: 'Ubuntu Mono', Courier, monospace;


// Font sizes
// http://modularscale.com/scale/?px1=16&px2=42&ra1=1.5&ra2=0
$h1-font-size: 42px;
$h2-font-size: 36px;
$h3-font-size: 28px;
$h4-font-size: 24px;
$h5-font-size: 18.667px;
$h6-font-size: 16px;

$paragraph-margin-bottom: 1;
$paragraph-text-indent: 1.5rem;
$header-margin-top: 0;
$header-margin-bottom: 1;
