<section id='page'>
  <section class='no_side_body' id='body_content'>
    <h1 id='body_content_title'>Het proces</h1>
    <section id='body'>
      <div class='inner'>
        <p><%= lorem.paragraph %></p>
        <%= image_tag 'product-2.jpg', class: 'right medium' %>
        <%- 4.times do %>
          <p><%= lorem.paragraph %></p>
        <% end %>
      </div>
    </section>
  </section>
</section>
