<section id='page'>
  <section id='body_content'>
    <h1 id='body_content_title'>Producten</h1>
    <section id='side_body'>
      <div class='inner'>
        <%- 1.times do %>
          <p><%= lorem.paragraph %></p>
      <% end %>
      </div>
    </section>
    <section id='body'>
      <div class='inner'>
        <ul class='products'>
        <%- 15.times do |i| %>
          <li>
          <%= image_tag "products/product-#{rand(1..6)}.jpg" %>
            <h2><%= lorem.words 2 %></h2>
            <p class='price'>€ <%= rand(1000).to_f/100 %></p>
          </li>
        <% end %>
        </ul>
      </div>
    </section>
  </section>
</section>

